<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vakoms.oleksandr.havruliyk.lvivopendata">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:name=".OpenDataApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.group.ATMsActivity"/>
        <activity android:name="com.vakoms.oleksandr.havruliyk.lvivopendata.ui.activity.description.ATMDescriptionActivity"/>
        <activity android:name=".ui.activity.group.BarbersActivity"/>
        <activity android:name="com.vakoms.oleksandr.havruliyk.lvivopendata.ui.activity.description.BarberDescriptionActivity"/>
        <activity android:name=".ui.activity.group.CateringsActivity"/>
        <activity android:name="com.vakoms.oleksandr.havruliyk.lvivopendata.ui.activity.description.CateringDescriptionActivity"/>
        <activity android:name=".ui.activity.group.FitnessesActivity"/>
        <activity android:name="com.vakoms.oleksandr.havruliyk.lvivopendata.ui.activity.description.FitnessDescriptionActivity"/>
        <activity android:name=".ui.activity.group.MarketsActivity"/>
        <activity android:name="com.vakoms.oleksandr.havruliyk.lvivopendata.ui.activity.description.MarketDescriptionActivity"/>
        <activity android:name=".ui.activity.MapActivity"/>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
    </application>

</manifest>